<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BarbAgendaDbContextConnectionString"
             connectionString="Server=localhost;Database=barb_agenda;User ID=root;Password=senha123;"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>